@model List<Question>


@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<div class="container">
<h1>
        All Questions
</h1>
	<table class="table table-light table-hover">
		<thead>
		<th>#</th>
		<th>Name</th>
		<th>Type</th>
		<th>Type_Multi_Singl</th>
		<th>Course</th>
		<th>Actions</th>
		</thead>
		 <tbody >
			 @foreach(var question in Model)
			 {
				 <tr>
					 <td>@question.Id</td>
					 <td>@question.Name</td>
					 <td>@question.Type</td>
					 <td>@question.Type_Multi_Single</td>
					<td>
						@(question.Course != null ? $"{question.Course.Name} " : "No course Assigned")
					</td>
					<td>
					<a href="/Questions/edit/@question.Id" class="btn btn-secondary">Edit</a>


						<a href="/Questions/Delete/@question.Id"
					   class="btn btn-danger"
					   onclick="return confirm('Are you sure you want to delete this Question?');">
						Delete </a>
					</td>
				</tr>
			 }
			</tbody>
	</table>
						
          

<div/>