@model Exam_MVC_App.Dtos.BranchDtos.BranchEditDto


@if(Model != null)
{
     

 ViewData["Title"] = "Edit Branch";

<h1>Edit Branch</h1>
<form method="POST" action="/Branch/Update/@Model.BranchId">
    <input type="hidden" name="_method" value="PUT" /> 
    <div class="form-group">
            <label asp-for="BranchName">Branch Name</label>
            <input asp-for="BranchName" value="@Model.BranchName" class="form-control" />
    </div>

    <div class="form-group">
            <label asp-for="ManagetId">Manager</label>
            <select asp-for="ManagetId" class="form-control">
            @foreach (var manager in ViewBag.Managers)
            {
                <option value="@manager.Id" selected="@(manager.Id==Model.ManagetId ? "selected" : null)">
                    @manager.Fname @manager.Lname
                </option>
            }
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

}else{
    <h1>Branch not found</h1>
}